.animation {
  position: relative;
}

.animation_slide-appear {
  opacity: 0;
}

.animation_slide-appear-active {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.animation_slide-enter {
  opacity: 0.01;
  transform: translateX(300%);
}

.animation_slide-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out 0.3s;
}

.animation_slide-exit {
  opacity: 1;
  transform: translateX(0%) scale(0.8);
  position: absolute;
  top: 0;
}

.animation_slide-exit-active {
  opacity: 0.01;
  transform: translateX(-300%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
