.btn {
  padding: 1rem  1.5rem;
  border: 2px solid;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
}

.btn_pelorous-theme {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn_purple-theme {
  background-color: transparent;
  border: 3px solid #753591;
  color: #444;
  outline: none;
}

.btn:disabled {
  background-color: #ebebeb;
  border: 2px solid #909090;
  color: #000;
}

.btn__icon {
  margin: 0 5px;
}

.btn__row {
  display: flex;
  justify-content: space-between;
}
