.chat {
  display: flex;
  flex-direction: column;
}

.chat__header {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.4rem 0.6rem;
  background-color: #3c3b3b94;
  min-height: 50px;
}

.chat__recipient-img {
  width: 50px;
  height: 50px;
}

.chat__recipient {
  padding: 0 0.5rem;;
}

.chat__messages {
  color: #fff;
  padding: 0.6rem;
  flex: 1 1 auto;
  height: 500px;
  overflow-y: auto;
}

.chat__message-input {
  display: flex;
  padding: 0 0.6rem;
}

.chat__form {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.chat__input {
  padding: 0.3rem 1.2rem 0.3rem 0.5rem;
  flex-grow: 1;
  font-size: 1rem;
}

.chat__btn {
  padding: 0.8rem 1.2rem;
  background-color: #26706d;
  border-color: #0315008a;
  outline: none;
}
