.conversations__item {
  display: flex;
  padding: 1rem 0.5rem;
}

.conversations__item:hover {
  background-color: #0c251d73;
}

.conversations__header {
  font-weight: 600;
}

.conversations__item_active {
  background-color: #2f0f5273;
}

.conversations__avatar {
  height: 50px;
}

.conversations__content {
  padding: 0 1rem;
  min-width: 0;
}

.conversations__last-message {
  display: flex;
  align-items: center;
  padding: 0.35rem 0;
}

.conversations__last-avatar {
  height: 1.4rem;
}

.conversations__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
