.dropdown-menu {
  position: relative;
}

.dropdown-menu::after {
  content: '';
  border-top: 0.3rem solid #fff;
  border-right: 0.3rem solid transparent;
  border-left: 0.3rem solid transparent;
  border-bottom: none;
  margin-left: 5px;
}

.dropdown-menu:hover .dropdown-menu__list {
  visibility: visible;
  opacity: 1;
}

.dropdown-menu__list {
  position: absolute;
  top: 105%;
  padding: 0.5rem 0;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  left: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.dropdown-menu__item {
  display: flex;
  flex-direction: column;
  padding: .5rem 1.8rem;
}

.dropdown-menu__item:hover {
  background-color: #17a2b8;
  color: #fff;
}

.dropdown-menu__devider {
  border-top: 1px solid #b4b4b4;
  margin: 5px 0;
}
