.homepage {
  min-height: 100vh;
  background-image: url('../imgs/laptop-header.jpg');
  background-size: cover;
  color: #fff;
  position: relative;
}

.homepage::after {
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.45;
  position: absolute;
  z-index: 0;
}

.homepage__content {
  margin-top: 1.5rem;
  text-align: center;
  z-index: 2;
}

.homepage__title {
  font-size: 3rem;
}

.homepage__paragraph {
  font-size: 1.5rem;
  margin-top: 0;
}
