@import "./page-wrapper.css";
@import "./header.css";
@import "./brand.css";
@import "./navbar.css";
@import "./homepage.css";
@import "./list.css";
@import "./btn.css";
@import "./form/index.css";
@import "./tagsinput.css";
@import "./progressbar.css";
@import "./profile.css";
@import "./profileCreate.css";
@import "./animation.css";
@import "./infoblock.css";
@import "./preloader.css";
@import "./item-block.css";
@import "./item-list.css";
@import "./menu.css";
@import "./dropdown-menu.css";
@import "./profiles.css";
@import "./search.css";
@import "./room.css";
@import "./conversations.css";
@import "./chat.css";
@import "./message.css";
@import "./job.css";

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #17a2b8;
}

.ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.background-black {
  background-color: #343a40;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #6f6f6f;
}

.footer {
  padding: 1rem;
  display: flex;
  color: #fff;
}

.img-circle {
  border-radius: 5rem;
}

.tag {
  display: inline-block;
  padding: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 7px;
  background-color: #a5d24a;
}


/* owerwrite lib classes */
.react-datepicker-wrapper, .react-datepicker__input-container {
  display: block !important;
  width: 100%;
}

.tagsinput {
  padding: 0.3rem 0.5rem;
}
