.infoblock {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px solid rgb(177, 177, 177);
}

.infoblock:last-child {
  padding-bottom: 0;
}

.infoblock__header {
  font-weight: 700;
  margin-bottom: 10px;
}

.infoblock__item {
  display: flex;
}

.infoblock__item-header {
  font-weight: 500;
}

.inifoblock__content {
  padding-left: 10px;
}
