.item-list {
  border-bottom: 1px solid rgb(205, 205, 205);
}

.item-list:last-child {
  border: none;
}

.item-list__container {
  display: flex;
  padding: 0.8rem 0;
}

.item-list__content {
  padding: 0 1rem;
}
