.item-block {
  padding: 0.9rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0px 0px 1.5px #000;
  display: flex;
  flex-direction: column;
}

.item-block__header {
  font-weight: 700;
  margin-bottom: 10px;
}

.item-block__h3 {
  margin: 0;
}

.item-block__hr {
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.item-block__list-item {
  display: inline-block;
}

.item-block__list-item::after {
  content: '•';
  margin: 0 5px;
}

.item-block__list-item:last-child::after {
  content: none;
  margin: 0;
}
