.job__form {
  box-shadow: 0px 0px 7px #02a4bf;
  border-radius: 2px;
  padding: 1rem 2rem;
  margin: 1rem;
}

.job {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1.5px #000;
  padding: 1.2rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
}

.job-wrapper {
  padding: 1.5rem 0;
}

.job__item {
  display: flex;
  padding: 1rem;
  margin-bottom: .5rem;
  flex-direction: column;
  border-top: 1px solid rgb(205, 205, 205);
}

.job__item:last-child {
  border-bottom: 1px solid rgb(205, 205, 205);
}

.job__pre-header {
  display: flex;
  justify-content: flex-end;
}

.job__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job__item-title {
  margin: 0 0 .35rem 0;
}

.job__skills {
  padding: .35rem 0;
}

.job__skills-item {
  display: inline-block;
}

.job__skills-item::after {
  content: '•';
  margin: 0 5px;
}

.job__skills-item:last-child::after {
  content: none;
  margin: 0;
}

.job__item-body {
  display: flex;
}

.job__item-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.job__item-right {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  text-align: center;
}

.job__application {
  display: flex;
  padding: 1rem;
  margin-bottom: .5rem;
  border-top: 1px solid rgb(205, 205, 205);
}

.job__application:last-child {
  border-bottom: 1px solid rgb(205, 205, 205);  
}
