.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list__title{
  font-weight: 500;
  font-size: 1.2rem;
  border-bottom: 1px solid #fff;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.list__social-group {
  display: flex;
  justify-content: space-between;
}

.list__social-icon {
  display: inline;
  margin-right: 1rem;
  color: #fff;
}
