.menu {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1.5px #000;
  padding: 1rem 2rem;
}

.menu__item {
  padding: 1rem 1.5rem;
  text-align: center;
  border-bottom: 1px solid #17a2b8;
  font-weight: 500;
}

.menu__item:hover {
  background-color: #17a2b8;
  color: #fff;
}

.menu__item_active {
  background-color: #42c0d4;
  color: #fff;
}
