.message {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.message_sender {
  flex-direction: row-reverse;
}

.message__avatar {
  height: 25px;
}

.message__content {
  margin: 0 5px;
  padding: 1rem 0.5rem;
  background-color: #3c3b3b94;
  border-radius: 10px;
}
