.navbar {
  padding: 1rem;
  display: flex;
  align-self: flex-end;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__item{
  padding: 1rem;
  text-transform: uppercase;
}

.navbar__avatar{
  align-items: center;
  display: flex;
  padding: 0 0.25rem !important;
}

.navbar__img {
  max-width: 36px;
  max-height: 36px;
  margin-right: 0.25rem;
}
