.page-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-wrapper__header{
  flex: 0 0 auto;
}

.page-wrapper__content{
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.page-wrapper__footer{
  flex: 0 0 auto;
}
