.preloader_cube {
	width: 7rem;
	height: 7rem;
	position: relative;
	transform: rotateZ(45deg) translate(100%, 100%);
	align-self: center;
}

.preloader_cube .cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
}

.preloader_cube .cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #15b3d4;
	animation: preloader_cube-angle 2.4s infinite linear both;
	transform-origin: 100% 100%;
}

.preloader_cube .cube-2 {
	transform: scale(1.1) rotateZ(90deg);
}

.preloader_cube .cube-3 {
	transform: scale(1.1) rotateZ(180deg);
}

.preloader_cube .cube-4 {
	transform: scale(1.1) rotateZ(270deg);
}

.preloader_cube .cube-2:before {
	animation-delay: 0.3s;
}

.preloader_cube .cube-3:before {
	animation-delay: 0.6s;
}

.preloader_cube .cube-4:before {
	animation-delay: 0.9s;
}

@keyframes preloader_cube-angle {
	0%, 10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}

	25%, 75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}

	90%, 100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}
