.profile {
  padding: 1rem;
}

.profile__item {
  box-shadow: 0px 0px 1px rgb(130, 130, 130);
  padding: 1rem;
  padding-top: 0.2rem;
  margin-bottom: 0.4rem;
}

.profile__list-title {
  margin-bottom: 0;
}

.profile__hr {
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
}

.profile__item-header {
  display: flex;
  justify-content: space-between;
}

.profile__info-sidebar {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1.5px #000;
  padding: 2rem;
  margin-bottom: 1rem;
}

.profile__user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

.profile__btn {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}

.profile__avatar {
  display: flex;
  justify-content: center;
}

.profile__item-block {
  margin-bottom: 1rem;
}

.profile_slide-animation {
  animation: onShowItem 0.8s ease-in-out 0s 1;
}

@keyframes onShowItem {
  0% {
    opacity: 0;
    transform: translateX(+300%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.profile__item-list {
  margin-bottom: 1rem;
}

.profile__menu {
  margin-bottom: 1rem;
}

.profile__contact-icon {
  margin-right: 5px;
}
