.profile-step-creator__title {
  margin-bottom: 0;
}

.profile-step-creator__progressbar {
  margin-bottom: 1rem;
}

.profile-step-creator__form {
  box-shadow: 0px 0px 7px #02a4bf;
  border-radius: 2px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  position: relative;
}

.profile-step-creator__btn-group {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem 0.5rem 0;
}

.profile-step-creator__btn {
  width: 25%;
}

.profile-step-creator__btn_right {
  margin-left: auto;
}

.profile-step-creator__notice {
  position: absolute;
  top: 5px;
  right: 5px;
}

.profile-step-creator__notice::before {
  content: '!';
  color: #cd0000;
}

@media screen and (max-width: 480px) {
  .profile-step-creator {
    padding-left: 0;
    padding-right: 0;
  }
}
