.profiles__list {
  margin: 1rem 0;
}

.profiles__item {
  box-shadow: 0px 0px 1px #000;
  padding: 1rem;
  margin-bottom: 0.7rem;
  display: flex;
}

.profiles__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
}

.profiles__avatar {
  max-width: 4rem;
  min-width: 1.5rem;
  text-align: center;
}

.profiles__username {
  margin: 0;
}

.profiles__content {
  padding: 0 0.5rem;
  flex-grow: 1;
}

.profiles__description {
  margin-top: 0.5rem;
}

.profiles__buttons {
  display: flex;
  flex-direction: column;
}

.profiles__btn {
  width: 100%;
  margin-bottom: 0.3em;
}
