.progressbar {
  text-align: center;
  overflow: hidden;
  counter-reset: step;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.progressbar__step {
	position: relative;
  text-transform: uppercase;
  font-size: 0.7rem;
  list-style: none;
  width: calc(100%/6);
}

.progressbar__step::before {
  display: flex;
  content: counter(step);
  counter-increment: step;
  background-color: #4BCADC;
  border-radius: 3px;
  margin: 0 auto;
  width: 2rem;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out 0.1s;
}

.progressbar__step::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #4BCADC;
  position: absolute;
  left: -50%;
  top: 25%;
  z-index: -1;
  transition: all 0.5s ease-in-out 0.1s;
}

.progressbar__step:first-child::after {
  content: none;
}

.progressbar__step_active {
}

.progressbar__step_active::before {
  background-color: #901DC2;
  color: #fff;
}

.progressbar__step_active::after {
  background-color: #901DC2;
}
