.room {
  background: linear-gradient(to right, #47ccc3, #6d93d8, #7F7FD5);
  padding: 10px 0;
  flex: 1 0 auto;
}

.room-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room__sidebar {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 2px solid #1917176b;
  height: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.room__content {
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #1917176b;
  height: 100%;
  padding-bottom: 0.5rem;
}

.room__menu {
  padding: .5rem;
  margin: 0 .5rem;
  display: none;
  flex-direction: row;
  justify-content: center;
  max-height: 50px;
  border-radius: 5px;
}

.room__menu:hover {
  box-shadow: 0 0 1.5px #0d2b2de0;
}

@media screen and (max-width: 767px) {
  .room__menu {
    display: flex;
  }

  .room__sidebar {
    flex-direction: row;
    transition: all 0.5s ease-in-out;
    justify-content: center;
  }

  .room__collapse {
    display: none;
  }

  .room__collapse_clicked {
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  .room__aside-collapse {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .room__content-collapse {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

@media screen and (max-width: 575px) {
  .room__aside-collapse {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .room__content-collapse {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
