.search {
  display: flex;
  border: 1px solid #000;
  border-radius: 2px;
  align-items: center;
  padding: .5rem .3rem;
  width: 100%;
}

.search__input {
  border: none;
  outline: none;
  padding: 0.3rem 0.1rem;
  font-size: 1.3rem;
  flex-grow: 1;
  width: 100%;
  margin: 0 2px;
}

.search:target {
  background-color: #000;
}

.search__icon {
  height: 30px;
}
