.tagsinput {
  color: #495057;
  font-size: 1rem;
  border: 1px solid #bdbdbd;
  outline: 0;
}

.tagsinput__input, .tagsinput__input:focus {
  background: transparent;
  border: none;
  color: #495057;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  padding: 0.7rem 0.5rem;
}

.tagsinput_focused {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
