.form-group {
  display: flex;
  justify-content: space-between;
}

.form-group__input-group {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.form-group__input-group:nth-child(2n+1) {
  margin-right: 1rem;
}

@media screen and (max-width: 480px) {
  .form-group {
    flex-direction: column;
  }
}
