.input{
  width: 100%;
  padding: 0.7rem 0.5rem;
  background-color: #fff;
  color: #495057;
  font-size: 1rem;
  border: 1px solid #bdbdbd;
}

.input:focus{
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.input__invalid-input, .input__invalid-input:focus{
  border-color: #ad1515 !important;
  box-shadow: 0 0 0 0.2rem rgb(215, 82, 82, .50) !important;
}

.input__error-message {
  margin-bottom: 0.25rem;
  color: #dc3545;
  font-size: 0.7rem;
}
